# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
env/

# Mac system
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model files if too big (optional, can push once)
*.joblib

